@charset "utf-8";
/* 全体の設定 */
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    width: 1366px;
    background-color: #f4f4f4;
    overflow: auto;
}

p, ul {
    line-height: 2rem;
    font-size: 20px;
}

img {
    max-width: 100%;
}

.sctionTitle {
    font-size: 48px;
}

.inner {
    margin:0 83px;
}

/* スマホ用ハンバーガーメニューを非表示に */
.hanMenu {
    display: none;
}

/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    background-color: #007AB7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

/* ローディング画面のロゴ用 */
.loadLogo {
    z-index: 10;
    width: 318px;
    height: 128px;
    animation-name: loadingAnime;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

/* ロゴのアニメーション設定 */
@keyframes loadingAnime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ローディング画面を消去するときのクラス */
.loaded {
    opacity: 0;
    visibility: hidden;
  }
/* //////////////////////ヘッダー//////////////////////// */
/* コピー箇所 */
.hedSec {
    height: 768px;
    background: url(../images/top.png) no-repeat center/cover; /*共通する上の画像*/
}

.hedinner {
    margin:0 83px;
    position: relative;
}

.topLogo {
    width: 133px;
    height: 54px;
    margin: 20px;
    position: absolute;
    top:0;
}

.topLogoBig {
    width: 780px;
    height: 314px;
    position: absolute;
    top: 174px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

header ul {                                                         /*ナビ*/
    display: flex;
    justify-content: flex-end;
    padding-top:50px;
}

header li{                                                         /*ナビ*/
    margin-right: 20px;
    color: #fff; 
    font-weight: bold;
}

header .sns a:hover {                                                /*SNS触れるとセピア*/
    filter: sepia(100%);
}

header li a:hover {
    text-decoration: underline wavy rgb(255, 131, 126) 5px;     /*ナビ下線*/
}

.sns {
     margin: 480px 0 0 20px;/*SNSリンク*/

}
header .sns p {
    padding-bottom: 40px;
}

/* コピー箇所ここまで */

/*//////////////////// ヘッダー下の紹介セクション///////////////// */

/* 上部分 */
.top02 {
    display: flex;
    padding: 80px 83px; 
    justify-content: space-between;
    height: 458px;
    position: relative;
    background:url(../images/topback01.png) no-repeat center/cover;
}

/* 下部分 */
.top03 {
    display: flex;
    padding: 80px 83px; 
    justify-content: space-between;
    height: 458px;
    background:url(../images/topback02.png) no-repeat center/cover;
}

/* 画像のサイズ */
.backTop {
    width: 636px;
    height: 298px;
    padding-right: 20px;
}

/* 国旗エリア */
.kokkiSec {
    width: 544px;
    text-align: center;
}

/* 国旗のサイズ */
.kokki{
    width: 104px;
    height: 78px;
}

/* タイトルエリア */
.titleSec {
    position: absolute;
    padding-bottom: 80px;
    bottom:0;
}

/* 下の段のテキスト */
.textSec02 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 104px 0 20px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

/* /////////////////////////ギャラリー /////////////////////////*/

/* 見出しタイトル部分 */
.galleryTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px;
    margin: 20px;
    width: 530px;
    height: 96px;
    background:url(../images/midasi.png) no-repeat center/cover;
}

/* サブタイトル */
.sub {
    margin-left: 20px;
    font-size: 24px;
}

/* タイトルエリアの高さ */
.titleSecG {
    height: 256px;
}

/* ギャラリー部分 */
.gallerySec {
    display: block;
    height: 947px;
}

/* スライドショー */
.suraid {
    overflow: hidden;
}
/* ここがスライドショーの親要素 */
.photo {
    display: flex;
    justify-content: center;
    transition: .3s;
 } 

 .photo li {
    margin: 40.5px;
 }

 .photo img {
    max-width: 295px;
    height: 467px;
 }

 /* 写真下アイコンの調整 */
.icon {
    height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon li {
    margin:0 30px;
}

/* 矢印画像の調整 */
#right {
    transform: rotate(180deg);
}

/* javascript 用 */
.icon01Sec {
    transform: translateX(752px);
}
.icon02Sec {
    transform: translateX(376px);
}
.icon03Sec {
    transform: translateX(0px);
}
.icon04Sec {
    transform: translateX(-367px);
}
.icon05Sec {
    transform: translateX(-752px);
}
.iconB {
    filter: brightness(0%);
}

/*///////////////////////// トラベル ////////////////////////*/

/* セクション全体の設定 */
.travelSec {
    height: 1007px;
    position: relative;
}
/* タイトルエリアの設定 */
.titleSecT {
    height: 236px;
    display: flex;
    justify-content: flex-end;
}
.travelTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px;
    margin: 20px;
    width: 530px;
    height: 96px;
    background:url(../images/midasi.png) no-repeat center/cover;
 }

 /* 地図エリアの設定 */
 .tizuSec {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
 }
/* 地図エリアのテキスト */
.tizuText {
    display: flex;
    align-items: center;
    height: 611px;
    width: 420px;
}
.travelText {
    padding:60px 0;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}
/* 地図エリアのマップ */
.taiwanMap {
    width: 400px;
    height: 611px;
    position: relative;
}
.tizu {
    position: absolute;
    width: 225px;
    height: 508px;
    top: 0;
    right: 18px;
    left: 0;
    margin: auto;    
}

/* 台北、台中、台南の画像設定 */
.tainan, .taipei, .taityu {
    width: 99px;
    height: 209px;
    z-index: 10;
    position: absolute;
    
 }

 .taipei {
    right: 0;
    top: 60px;
} 

.taityu {
    left: 0;
    top: 100px;
}

.tainan {
    bottom: 0;
    left: 65px;
}
/* セクションの区切りになるボーダーライン */
.border {
    margin: 80px auto;
    width: 420px;
    height: 80px;
    border-bottom: 1px solid #000;
}

/*//////////////////////////// イベント ///////////////////// */

/* 全体の設定 */
.eventSec {
    height: 1419.2px;
    position: relative;
}

/* イベントエリアの画像サイズ */
.eventSec img {
    height: 396px;
    width: 580px;
}

/* タイトルエリアの設定 */
.titleSecE {
    height: 236px;
    display: flex;
}
.eventTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px;
    margin: 20px;
    width: 530px;
    height: 96px;
    background:url(../images/midasi.png) no-repeat center/cover;
}

.event {
    padding-bottom: 80px;
}

/* 紹介エリア */
/* 見出し */
.h3Title {
    font-size: 36px;
    padding-bottom: 40px;
}

.event .eventCon .eventText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto 5px auto; 
}

.eventTextSec {
    margin:0 auto;
    padding:32px 0;
    width: 314px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.eventCon {
    display: flex;
    align-items: flex-end;
}

.h4Title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 32px;
}

.eventkaisai {
    text-align: center;
    padding-bottom: 32px;
}
/* トップへ戻るボタン */
.topBtn {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 20px;
    bottom: 508.2px;
}
.topBtn img {
    width: 100px;
    height: 100px;
}
/* プライバシーポリシー */

/* 全体の設定 */
.kihon {
    height: 560px;
    width: 1040px;
    margin: 80px;
    border: #000 solid 1px;
}

/* 文字の調整 */
.hidden {
    visibility:hidden
}

.kihon .sctionTitle {
    margin: 40px;
    text-align: center;
}
.zyouhou {
    display: flex;
    justify-content: space-between;
}
.kihon ul {
    width: 450px;
    height: 320px;
    margin: 40px;
}
.textSec {
    width: 375px;
}

/*フッターエリア開始*/  

/* 全体の設定 */
.footer { /*背景と文字の色*/
    height: 428px;
    font-size: 15px;
    color: #fff;
    background: #007AB7;
    width: 1366px;
}
footer a:hover {  /*カーソルを合わせると赤いライン*/
    text-decoration:underline;
    color: #FF0000;
}  

/* ナビゲーション、ロゴ、SNSセクションの設定 */
.footerCon {
    padding: 0 83px;
    display: flex;
    justify-content: space-between;
}
/* セクションを3分割に */
.grid, .logoSec, .snsCon {
    width : calc(100% / 3) ;
}

/* 国旗の位置設定 */
.kokkiLogo {
    text-align: center;
   padding: 40px 0 28px 0;
}

.kokkiLogo img {
    width: 64px; 
    height: 48px;
}

/* ナビゲーションの設定 */

.footerNavi {  
    width: 332px;
    height: 292px;
}
.grid {
    padding-bottom: 20px;
}
.footerNavi-heading {
    font-weight: 600;
} 
.footerNavi li {
    display: flex;
    align-items: flex-end;
    height: 52px;
    border-bottom: 1px solid #fff ;
}
.footerNavi li:first-child {
    height: auto;
}

/* ロゴの位置調整 */

.underLogo {
    text-align: center;
    align-self: flex-end;
    padding-bottom: 20px;
}
.underLogo img  {
    width: 240px; 
    height: 100px;
}

/* SNSの位置調整 */

.snsBtn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.snsBtn li {
    margin-right: 20px;
}
.snsCon {
    align-self: flex-end;
}
/* コピーライトの設定 */
.copyright {
    font-size: 12px;
    width: 1366px;
    text-align: center;
    border-top:1px solid #03A9F4;
    padding: 20px 0;
    color: #fff;
    background: #007AB7;
}

/*フッターここまで！*/

/* スマホ */

@media screen and (max-width: 375px) {
    .loadLogo {
        z-index: 10;
        width: 287px;
        height: 117px;
    }
    /*///////////////////////// ハンバーガーメニュー //////////////////////*/
    .hanMenu {
        display: block;
    }
    /* ハンバーガーメニューの三アイコン画像 */
    .hanNavOpen {
        right: 0;
        margin: 4px;
        position: fixed;
        z-index: 99;
    }
    /* ハンバーガーメニュー本体 */
    .hanNav {
        position: fixed;
        right: -225px;
        top: 0;
        height: 677px;
        width: 225px;
        background-color: #000;
        opacity: .8;
        color: #f4f4f4;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 5px;
        z-index: 99;
        transition: transform 0.3s;
    }

    .hanNav p {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    .hanNav li {
        line-height: 1.5rem;
        font-size: 20px;
        height: 20px;
        margin-bottom: 20px;
    }
  
    .hanLogoSec {
        height: 132px;
        display: flex;
        justify-content: space-between;
    }

    /* ハンバーガーメニューのバツ */
    .batu img {
        width: 48px;
        height: 48px;
    }
    .hanLogo {
        height: 40px;
        width: 101px;
    }
    /* javascript用 */
    /* オープンボタンを押したときの処理 */
    .open {
        transform: translate(-225px);   /*トランスフォームでスライド*/
    }

    /* オープンボタンが押された時三ボタンを隠す */
    .openDel {
        transform: translate(50px);
    }

    /*////////////////////////// ハンバーガーメニューここまで//////////////////// */

    body {
        width: 375px;
    }

    .top02 .sctionTitle {
        font-size: 24px;
    }

    p {
        font-size: 12px;
    }

    .inner, .hedinner {
        margin: 0 20px;
    }

    .hedSec {
        height: 677px;
        background:url(../images/sptop.png) no-repeat center/cover;
    }

    header ul {
        display: none;
    }

    .topLogoBig {
        width: 335px;
        height: 135px;
        position: absolute;
        top: 200px;
    }

    .topLogo {
        display: none;
    }

    .sns{
        position: absolute;
        left: 0;   
     }

     header .sns p {
       padding-bottom: 20px;
     }

    .top02, .top03 {
        display: block;
        padding: 0;
        padding-top: 20px;
    }

    .top02 {      
        height: 407px;  
        background: url(../images/sptop02.png)  no-repeat center/cover;
    }

    .top03 {
        height: 399px;
        background-image: none;
    }

    .top02 .sabFor {
        display: inline-block;
        height: 36px;
        border-bottom: 1px solid #000;    
    }

    .backTop {
        display: block;
        width: 335px;
        height: 139px;
        padding: 0;
        margin: 60px auto;
    }

    .kokki{
 
        width: 32px;
        height: 24px;
    }

    .kokkiSec {
        width: 375px;
    }

    .titleSec {
        text-align: center;
        margin-top: 40px;
        position: static;
        padding: 0;
        
    }

    .textSec02 {
        margin: 0 auto;
        width: 223px;
        height: 120px;
        padding: 12px 0;
        display: block;
        border-top:1px solid #000;
        border-bottom:1px solid #000;
    }

    .textSec02 p {
        line-height: 1.2rem;
    }

    .galleryTitle {
        padding-bottom: 12px;
        margin: 8px;
        width: 220px;
        height: 40px;
    }

    .sctionTitle {
        font-size: 20px;
    }

    .sub {
        margin-left: 5px;
        font-size: 12px;
    }

    .titleSecG {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        height: 120px;
    }

    /* ギャラリー */

    .gallerySec {
        height: 685px;
    }

    .photo li {
        margin: 20px 10px;
    }

    .icon {
        align-items: flex-start;
        height: 78px;
        margin: 0;
    }

    #left {
        display: none;
    }

    #right {
        display: none;
    }

    .icon li {
        margin: 0 20px;
    }

    .icon img {   
        width: 18px;
        height: 18px;    
    }

    /* javascript 用 */

    .icon01Sec {
        transform: translateX(630px);
    }
    .icon02Sec {
        transform: translateX(315px);
    }
    .icon03Sec {
        transform: translateX(0px);
    }
    .icon04Sec {
        transform: translateX(-315px);
    }
    .icon05Sec {
        transform: translateX(-630px);
    }

    /* トラベル */

    .travelSec {
        height: 807.8px;
    }

    .titleSecT {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        height: 120px;
    }

    .tizuText {
        display: block;
        height: auto;
        width: auto;
        
    }

    .travelTitle {
        padding-bottom: 12px;
        margin: 8px;
        width: 220px;
        height: 40px;
    }

    .tizuSec {
        display: block;
        padding: 0;
    }

    .travelText  {
        width: 223px;
        height: 100.8px;
        line-height: 1.2rem;
        padding: 12px 0;
        margin: 0 auto;
    }

    .taiwanMap {
        margin: 60px auto 0;
        width: 255px;
        height: 406.8px;
        position: relative;

    }

    .tizu {
        position: absolute;
        object-fit: contain;
        width: 180px;
        height: 355px; 
        top: 0;
        right: 0;
        left: 0;
        bottom:0;
        margin: 0 auto;
    }

    .tainan, .taipei, .taityu {
        width: 59px;
        height: 126px;
        z-index: 10;
        position: absolute;
        
    }

    .taipei {
        right: 0;
        top: 60px;
    } 

    .taityu {
        left: 0;
        top: 82px;
    }

    .tainan {
        bottom: 0;
        left: 52px;
    }

    .border {
        margin: 0 auto;
        width: 233px;
        height: 60px;
        border-bottom: 1px solid #000;
    }

    /* イベント */

    .eventSec {
        height: 1116px;
    }

    .titleSecE {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        height: 120px;
    }

    .eventTitle {
        padding-bottom: 12px;
        margin: 8px;
        width: 220px;
        height: 40px;
    }

    .h3Title {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .event {
        text-align: center;
    }

    .eventSec img {
        height: 194px;
        width:335px;
        margin-bottom: 20px;
    }

    .eventCon {
        display: block;
    }

    .h4Title {
        padding-bottom: 0;
        font-size: 12px;
    }

    .eventkaisai {
        padding-bottom: 20px;
    }

    .eventkaisai p {
        height: 12px;
        padding-bottom: 20px;
    }

    .eventTextSec {
        padding: 12px 0;
        width: 223px;
        height: 120px;
        line-height: 1.2rem;
        text-align: left;
    }

    .event {
        padding-bottom: 40px;
    }

    /* トップへ戻るボタン */
.topBtn {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 4px;
    bottom: -428px;
}
.topBtn img {
    width: 48px;
    height: 48px;
}
    /* 基本情報 */

    .polSec {
        height: 624px;
    }

    .kihon {
        height: 544px;
        width: 335px;
        margin: 0;
        padding: 20px 20px 40px 20px;
    }

    .kihon .sctionTitle{
        margin: 0 0 40px 0;
    }

    .zyouhou {
        display: block;
    }

    .kihon .zyouhou ul {
        font-size: 12px;
        width: 295px;
        height: 192px;
        margin:0 0 40px 0;
        line-height: 1.2rem;
    }

    /* フッター */

    .footer { /*背景と文字の色*/
        height: 349px;
        width: auto;
    }

    .footerCon {
        padding: 0 20px;
        display: block;
        position: relative;
    }

    .grid, .logoSec, .snsCon {
        width: auto;
    }

    .footerNavi {  
        font-size: 12px;
        width: 195px;
        height: 167px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .grid {
        padding-bottom: 40px;
    }

    .kokkiLogo {
        padding: 20px 0;
    }

    .kokkiLogo img {
        width: 32px;
        height: 24px;
    }

    .footerNavi li {
        height: 30px;
        line-height: 1.5rem;
    }

    .footerNavi li:first-child {
        height: auto;
    }

    .underLogo img  {
        width: 71px; 
        height: 28px;
    }

    .underLogo {
        display: inline;
        position: absolute;
        bottom: 0;
        padding-bottom: 12px;
    }

    .snsBtn {
        display: flex;
        justify-content: center;
        padding-bottom: 12px;
    }

    .snsBtn li {
        margin: 0 10px;
    }

    .copyright {
        font-size: 10px;
        width: auto;
        padding: 12px 0;
    }
}