@charset "utf-8";

body{                         
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    background-color: #F4F4F4;
}
.innerWrap {
    background-repeat: no-repeat;  /*全体仮*/
    max-width: 1366px; 
    margin: auto;
}
.inner {
    margin: 0 83px;
}

/*ヘッダー*/
header section {
   margin: auto;
   margin: 100px  0px  -100px  100px;          /*上・右・下・左*/
}
header {
     width: 1366px;
     height: 768px;
     background-image: url(../images/top.png);   /*共通する上の画像*/
     background-repeat: no-repeat;
     object-fit: cover;
     object-position: center 90%;
     margin: auto;
}
.title {
   margin: -10px 0px  -100px  100px;          /*上・右・下・左*/ 
}  
.midashi {
   width: 530px;
   height: 96px;
   margin: 20px 0px  0px  0px;          /*上・右・下・左*/ 
}
.midashi02 {
   width: 530px;
   height: 96px;
   margin: 20px 0px  0px  700px;          /*上・右・下・左*/ 
}
.taichu img {
   margin: -60px 0px  0px  20px;             /*上・右・下・左*/        /*共通する上の画像*/
   width: 154px; 
} 
.introduction {
  color: #fff;
  font-weight: bold;
  justify-content: flex-end;
  margin: -100px 85px  10px  950px;          /*上・右・下・左*/      /*ヘッダーにかかる紹介文*/
  width: 467px;
}
.taichuBig img {
 margin: -30px  0px  134.18px  363px;      /*上・右・下・左*/       /*でかい台中*/
 width: 300px;
 height: 539.82px;
}
.sns {
   margin: -200px 85px  10px  60px;          /*上・右・下・左*/        /*SNSリンク*/
}
header ul {                                                                /*ナビ*/
     display: flex;
     margin: 0 0 0 618px; 
}
header a {
  text-decoration: none;                                             /*ナビ色*/
  color: #fff;
}
.sns a:hover {                                                       /*SNS触れるとセピア*/
   filter: sepia(100%);
}
header li {                                                               /*ナビ*/
     margin: 40px 20px 0 0;
     font-size: 24px;
     list-style-type:none;  
     font-weight: bold;
}
li a:hover {
       text-decoration: underline wavy rgb(255, 131, 126) 3px;     /*ナビ下線*/
}
/*ヘッダーEND*/


/*パンくずリスト*/
.breadCrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-weight: bold;
    margin: 20px 20px 20px 30px;
}
.breadCrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em; /* 記号の左右の余白 */
    color: #000; /* 記号の色 */
}
/*パンくずEND*/


/*パンくずリスト下の線*/
.longLine {
    border: 1px #000;
    margin: 0 auto 20px auto;
}
/*中間の線*/
.line {
    border-bottom: 1px solid #000;
    margin: 0 auto 80px auto;
    width: 480px;
    height: 60px;
}



/*メインコンテンツ*/
.bigTitle {                        /*大きいタイトル(博物館以外)*/
    font-weight: lighter;
    font-size: 40px;
    width: 300px;
    margin: 0 0 0 20px;
}
.bigTitle span {                   /*大きいタイトルの横文字(博物館以外)*/
    font-weight: lighter;
    font-size: 24px;
}
.bigTitle2 {                        /*大きいタイトル博物館*/
    font-weight: lighter;
    font-size: 40px;
    width: 300px;
    margin: 0 20px 0 640px;
}
.bigTitle2 span {                   /*大きいタイトル博物館の横文字*/
    font-weight: lighter;
    font-size: 24px;
}
.titleAtt {                 /*博物館以外はこっちで指定*/
    font-weight: bold;
    font-size: 36px;
    margin: 0 20px;
    letter-spacing: 1rem;
}
.museum h3 {                        /*博物館名のタイトル上段*/
    font-weight: lighter;
    font-size: 36px;
}
.museum h2 {        /*博物館名のタイトル下段のみ指定*/
    font-weight: bold;
    font-size: 36px;
}

.titleBack {        /*赤枠線画像*/
    background-image: url(../../taichu/images/midasi.png);
    width: 530px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 24px;
    margin-bottom: 80px;
}
.titleBack2 {       /*赤枠線画像(博物館)*/
    background-image: url(../../taichu/images/midasi.png);
    width: 530px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 24px;
    margin-bottom: 80px;
}

.hanMenu {
    display: none;
}

/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    background-color: #007AB7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

/* ローディング画面のロゴ用 */
.loadLogo {
    z-index: 10;
    width: 318px;
    height: 128px;
    animation-name: loadingAnime;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

/* ロゴのアニメーション設定 */
@keyframes loadingAnime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ローディング画面を消去するときのクラス */
.loaded {
    opacity: 0;
    visibility: hidden;
  }


/*湿地のとこ*/
.shitti img {
    width: 600px;
    height: 360px;
    margin: 20px;
}
.shitti2 img {
    width: 600px;
    height: 144px;
    margin: 20px;
}
.shitti .layoutWrap {
    display: flex;
    justify-content: space-between;
}
.shitti2 .layoutWrap {
    display: flex;
    justify-content: space-between;
}
.shitti .shittiData {
    width: 500px;
    height: 360px;
    margin: 20px;
    padding: 20px 40px;
    line-height: 2rem;
    font-size: 20px;
    background-color:rgba(237, 161, 132, 20%);
}
.shitti2 .shittiData2 {
    margin: 20px;
    padding: 40px 40px;
    line-height: 2rem;
    font-size: 20px;
    background-color:rgba(237, 161, 132, 20%);
}


/*村のとこ*/
.tsuaiMura img {
    width: 600px;
    height: 368px;
    margin: 20px;
}
.tsuaiMura2 img {
    width: 600px;
    height: 144px;
    margin: 20px;
}
.tsuaiMura .layoutWrap {
    display: flex;
    justify-content: space-between;
}
.tsuaiMura2 .layoutWrap {
    display: flex;
    justify-content: space-between;
}
.tsuaiMura .muraData {
    width: 500px;
    height: 360px;
    margin: 20px;
    padding: 20px 40px;
    line-height: 2rem;
    font-size: 20px;
    background-color:rgba(237, 161, 132, 20%);
}
.tsuaiMura2 .muraData2 {
    margin: 20px;
    padding: 40px 40px;
    line-height: 2rem;
    font-size: 20px;
    background-color:rgba(237, 161, 132, 20%);
}


/*美術館のとこ*/
.museumBun {
    margin: 80px 0 80px 60px;
    position: relative;
    display: inline-block;
}  
.museumBun:before {             /*紹介文を囲う上線*/        
    content: '';
    position: absolute;
    left: 50%;
    top: -15px;/*線の上下位置*/
    display: inline-block;
    width: 420px;/*線の長さ*/
    height: 1px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: #000;/*線の色*/
    border-radius: 2px;/*線の丸み*/
}
.museumBun:after {              /*紹介文を囲う下線*/
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;/*線の上下位置*/
    display: inline-block;
    width: 420px;/*線の長さ*/
    height: 1px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: #000;/*線の色*/
    border-radius: 2px;/*線の丸み*/
}
.museum {
    margin: 80px 0 0 0;
}
.museum ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.museum li {
    margin: 0 0 60px 0;
}
.museum li img {
    width: 530px;
    height: 270px;
    margin: 0 0 20px 0;
}
.museum li p {
    text-align: right;
    margin: 30px 0 0 0;
    font-size: 20px;
}
.museum li a {
    border: 3px solid rgba(237, 161, 132, 20%);;
    padding: 27px 36px;
}
.museum li a:hover {
    background-color: lightgray;
}



/*宮原眼科のとこ*/

.sweetsBun {
    margin: 80px 0 80px 75px;
}
.sweetsBun h2 {
    font-size: 36px;
    margin: 0 0 0 140px;
}
.sweetsBun p {
    font-size: 20px;
}
.sweetsBun .borderLine {
    border-top: 1px solid #000;
    width: 420px;
    margin: 20px 0;
}

.sweetsPain img {
    width: 560px;
    height: 346px;
    margin: 20px;
}
.sweetsPain .layoutWrap {
    display: flex;
    justify-content: space-between;
}
.sweetsPain .sweetsData {
    margin: 20px;
    padding: 40px 40px;
    line-height: 2rem;
    font-size: 20px;
}

/*内装写真と珈琲*/
.naisouCoffe img {
    width: 400px;
    height: 600px;
    margin: 20px;
}
.naisouCoffe ul {
    display: flex;
    justify-content: center;
}
.naisouCoffe li {
    margin: 60px 120px 60px 120px;
}

/*茶器とスイーツ*/
.teaPot img {
    width: 560px;
    height: 346px;
    margin: 20px;
}
.teaPot .layoutWrap {
    display: flex;
    justify-content: space-between;
}
.teaPot .teaData {
    margin: 20px;
    padding: 130px 40px;
    line-height: 2rem;
    font-size: 20px;
}

/*メインコンテンツEND*/


/*//////////////////////PCフッターエリア開始////////////////////////////*/  

/* 全体の設定 */
.footer { /*背景と文字の色*/
    height: 428px;
    font-size: 15px;
    color: #fff;
    background: #007AB7;
    width: 1366px;
}
footer a:hover {  /*カーソルを合わせると赤いライン*/
    text-decoration:underline;
    color: #FF0000;
}  

/* ナビゲーション、ロゴ、SNSセクションの設定 */
.footerCon {
    padding: 0 83px;
    display: flex;
    justify-content: space-between;
}
/* セクションを3分割に */
.grid, .logoSec, .snsCon {
    width : calc(100% / 3) ;
}

/* 国旗の位置設定 */
.kokkiLogo {
    text-align: center;
   padding: 40px 0 28px 0;
}

.kokkiLogo img {
    width: 64px; 
    height: 48px;
}

/* ナビゲーションの設定 */

.footerNavi {  
    width: 332px;
    height: 292px;
}
.grid {
    padding-bottom: 20px;
}
.footerNavi-heading {
    font-weight: 600;
} 
.footerNavi li {
    display: flex;
    align-items: flex-end;
    height: 52px;
    border-bottom: 1px solid #fff ;
}
.footerNavi li:first-child {
    height: auto;
}

/* ロゴの位置調整 */

.underLogo {
    text-align: center;
    align-self: flex-end;
    padding-bottom: 20px;
}
.underLogo img  {
    width: 240px; 
    height: 100px;
}

/* SNSの位置調整 */

.snsBtn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.snsBtn li {
    margin-right: 20px;
}
.snsCon {
    align-self: flex-end;
}
/* コピーライトの設定 */
.copyright {
    font-size: 12px;
    width: 1366px;
    text-align: center;
    border-top:1px solid #03A9F4;
    padding: 20px 0;
    color: #fff;
    background: #007AB7;
}

/*///////////////////////PCフッターここまで！////////////////////////////*/



/*  RWDここからだよ。 */
@media screen and (max-width:768px) {

    /* スマホ用ローディング画面ロゴ */
    .loadLogo {
        z-index: 10;
        width: 287px;
        height: 117px;
    }
    /*///////////////////////// ハンバーガーメニュー //////////////////////*/
    .hanMenu {
        display: block;
    }
    /* ハンバーガーメニューの三アイコン画像 */
    .hanNavOpen {
        right: 0;
        margin: 4px;
        position: fixed;
        z-index: 99;
    }
    /* ハンバーガーメニュー本体 */
    .hanNav {
        position: fixed;
        right: -225px;
        top: 0;
        height: 677px;
        width: 225px;
        background-color: #000;
        opacity: .8;
        color: #f4f4f4;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 5px;
        z-index: 99;
        transition: transform 0.3s;
    }

    .hanNav p {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    .hanNav li {
        line-height: 1.5rem;
        font-size: 20px;
        height: 20px;
        margin-bottom: 20px;
    }

    .hanLogoSec {
        height: 132px;
        display: flex;
        justify-content: space-between;
    }

    /* ハンバーガーメニューのバツ */
    .batu img {
        width: 48px;
        height: 48px;
    }
    .hanLogo img {
        height: 40px;
        width: 101px;
    }
    /* javascript用 */
    /* オープンボタンを押したときの処理 */
    .open {
        transform: translate(-225px);   /*トランスフォームでスライド*/
    }

    /* オープンボタンが押された時三ボタンを隠す */
    .openDel {
        transform: translate(50px);
    }

    /*////////////////////////// ハンバーガーメニューここまで//////////////////// */
    /*//////////////////////////// ここまで ////////////////////////*/

}